@use "../abstracts" as *;

.app-container {
  display: flex;
  flex-direction: row;

  min-height: 100vh;

  padding: space(medium);
  gap: space(medium);

  background-color: color(natural, 900);

  & > .today-weather-container {
    display: flex;
    flex-direction: column;

    flex: 2.5;

    width: 100%;

    gap: inherit;
  }
}
