@use "../abstracts" as *;
@use "../base/typography" as *;

.location-bar {
  &-display {
    display: flex;
    flex-direction: row;

    align-items: center;

    width: fit-content;
    min-height: 3rem;

    gap: space(small);

    & > .location-description {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      gap: space(xx-small);
    }
  }

  &-search {
    display: flex;
    flex-direction: row;

    padding-inline: space(medium);
    padding-block: space(small);

    align-items: center;

    gap: space(medium);

    width: fit-content;

    background-color: color(black, 800);

    border-radius: space(medium);

    & > .search-input {
      border: none;
      color: color(white, 100);

      min-height: space(x-large);

      background-color: transparent;

      &:focus {
        outline: none;
      }
    }

    & > .clear-input {
      display: flex;
      align-items: center;
      justify-items: center;

      background-color: transparent;
      border: none;

      & > img {
        width: 20px;
        height: 20px;
      }

      &:hover,
      &:focus {
        outline: none;
      }
    }
  }
}
