@use "./colors" as *;
@use "./spacings" as *;
@use "../base/typography" as *;

@mixin panel() {
  background-color: color(natural, 800);
  border-radius: space(small);
}

@mixin scroll($element, $direction) {
  #{$element} {
    &::-webkit-scrollbar {
      @if $direction == vertical {
        width: 16px;
      }
      @if $direction == horizontal {
        height: 16px;
      }
    }
    &::-webkit-scrollbar-track {
      background: red;
    }
  }
}
